<style>
  input[type=text], select {
    width: 100%;
    padding: 5px 5px;
    margin: 5px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: large;
  }

  label{
    font-size: large;
  }
  label#bmi {
    white-space: nowrap;
    width: 70px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
  }

</style>
<div>
  <div>
    <b><h1>CHECK YOUR BMI</h1></b>
    <div>
      <label for="height" style="width:120px">Height (cm)</label>
      <div class="p-col">
        <input id="height" type="text" >
      </div>
    </div>
    <div>
      <label for="weight" style="width:120px">Weight (kg)</label>
      <div>
        <input id="weight" type="text" >
      </div>
    </div>
    <div>
      <label style="width:120px"><b>BMI</b></label>
      <div>
        <label id="bmi">{{BMI$ | async}}</label>
      </div>
    </div>
    <div>
      <label style="width:120px"><b>range:</b></label>
      <div>
        <label>{{result$ | async}}</label>
      </div>
    </div><br><br>
    <button mat-raised-button color="primary" (click)="saveBmi()">Save</button>
  </div>
</div>
